# Homework 3

TODO:
* check input and returns in functions
* check that what i wrote is accurate

Leonardo Masci, Jeremy Sapienza, Antonio Zappia

The aim of this homework is to create a search engine that returns some book suggestions, given an input from the user in the form of words. To achieve this, we first scraped the website Goodreads.com, in its "best books ever" section, to get a dataset of 30,000 books. Once we had our dataset, we created increasingly better search algorithms to get to a satisfying result. 

Finally, in the last exercise we faced a recursive algorithm and its running time.

In [2]:
import functions

## 1) Data Collection

Since no dataset was provided for this homework, we had to create our own dataset by scraping the given website, which was done in the following steps.

### 1.1 Get the list of books

Firstly, we had to get the list of all the books we wanted to add to our dataset. This included all the books found in the first 300 pages of the "best books ever" section.
Therefore, we created a function that scrapes a certain number of pages from an initial url, to extract the url of each of them. The initial url and the following number of pages are given as input, while the resulting urls are stored in a txt file called "urlpages.txt" .

In [23]:
functions.get_urls("https://www.goodreads.com/list/show/1.Best_Books_Ever?page=", 300)

### 1.2 Crawl books

Once we had our txt file containing all the urls, we created a second function that downloads the html of each given url. These htmls are collected in different folders, depending on the corresponding page. Moreover, we added a try and except to be sure that all requests that we could lose will be re-scrape in a second moment.

In [24]:
functions.crawl_urls(300,"urlpages.txt")

### 1.3 Parse downloaded pages

Finally, after completing this step, we went on to actually parse the given html articles. We will obtain for each html article its article_i.tsv.

In [ ]:
functions.get_scraping("html_pages")

### Creating and concatening the final dataset for our purposes

Since running the above mentioned functions took a long time, the three of us split the work among us. So in the end we run another function that returned our distinct outputs as tsv files and combined those three to create the final dataset we will be working with.

In [ ]:
functions.finaldataset_tsv(html_pages,1)

## 2) Search Engine

Now that we have our dataset, we can start working on the search engines we are interested in. We will start with a very simple one and work our way towards a more complex one.

In [2]:
#load the dataset
df = functions.openMainDataset()

We open the final dataset to do our operations. Now, we illustrate the main features and we show a piece of dataset belove.

In [3]:
df.head()

,bookTitle,bookSeries,bookAuthors,ratingValue,ratingCount,reviewCount,Plot,NumberofPages,Published,Characters,Setting,Url
0,The Hunger Games,(The Hunger Games #1),Suzanne Collins,4.33,6413302,172615,"Could you survive on your own in the wild, wit...",374,September 14th 2008,"Katniss Everdeen, Peeta Mellark, Cato (Hunger ...","District 12, Panem, Capitol, Panem, Panem",https://www.goodreads.com/book/show/2767052-th...
1,Harry Potter and the Order of the Phoenix,(Harry Potter #5),J.K. Rowling,4.50,2527001,42768,There is a door at the end of a silent corrido...,870,September 2004 by,"Sirius Black, Draco Malfoy, Ron Weasley, Petun...","Hogwarts School of Witchcraft and Wizardry, Lo...",https://www.goodreads.com/book/show/2.Harry_Po...
2,To Kill a Mockingbird,(To Kill a Mockingbird),Harper Lee,4.28,4530963,91866,The unforgettable novel of a childhood in a sl...,324,May 23rd 2006,"Scout Finch, Atticus Finch, Jem Finch, Arthur ...","Maycomb, Alabama",https://www.goodreads.com/book/show/2657.To_Ki...
3,Pride and Prejudice,,Jane Austen,4.26,3020392,67869,Alternate cover edition of ISBN 9780679783268S...,279,October 10th 2000,"Mr. Bennet, Mrs. Bennet, Jane Bennet, Elizabet...","United Kingdom, Derbyshire, England, England, ...",https://www.goodreads.com/book/show/1885.Pride...
4,Twilight,(The Twilight Saga #1),Stephenie Meyer,3.60,4993492,104954,About three things I was absolutely positive.F...,501,September 6th 2006,"Edward Cullen, Jacob Black, Laurent, Renee, Be...","Forks, Washington, Phoenix, Arizona, Washingto...",https://www.goodreads.com/book/show/41865.Twil...

we collect the main features according to the professor requests.

In [4]:
df.describe()

        ratingValue   ratingCount    reviewCount
count  25442.000000  2.544200e+04   25442.000000
mean       4.045976  3.299154e+04    1753.184223
std        0.358727  1.486322e+05    5401.072115
min        0.000000  0.000000e+00       0.000000
25%        3.850000  7.642500e+02      69.000000
50%        4.050000  5.747000e+03     374.500000
75%        4.240000  2.098875e+04    1333.000000
max        5.000000  7.104838e+06  172615.000000

### Cleaning data and creating the index

Before we can procede with the search engines, we need to clean the dataset we have obtained and create a vocabulary. 

The clean data is needed to apply the search engine, as the input words may not match the ones in our file if processed raw. For this reason, we remove stopwords and punctuation, which do not constitute valuable information, and we apply stemming. This way, we are left with only the root of words, which will make matching in the coming functions that much easier.

<font color="red"> WRITE HERE THE MAIN STEPS OF BAG OF WORDS: remove punctution, what is stemming and when we apply this, why remove stop words and so on... </font>

The vocabulary is needed for creating the inverted list as a dictionary and at the same time to map each word with its "term_id_i". We create this to avoid calculate every time this data structure.

at this time cleaning the df_copy dataset in order to have the vocabulary based on "Plot" column.

In [5]:
df_copy = functions.cleaningDataset(df.copy()) # useful to obtain the vocabulary for each token

After cleaning the dataset with apposite bag of words method, we create the vocabulary

In [10]:
vocabulary = functions.createVocabulary(df_copy)

KeyboardInterrupt:

To avoid calculate again and again the vocabulary save it as .csv file

In [13]:
functions.create_csv(vocabulary, 1)

### Execute the query

We are now ready to receive the user's input, which is then processed the same way as the dataset was so that the matching will be possible.

In [14]:
query = input("Insert your query string: ")

Insert your query string: survival games

Clean the user's query to be sure match with our vocabulary tokens

In [6]:
#cleanQString = functions.cleanQuery(query)
cleanQString = ["surviv", "game"]

Why is this separated from the rest of vocabulary?

In [11]:
vocabulary = functions.open_vocabulary(1)

Finally, we create the inverted list according to professor requests

In [12]:
functions.inverted_list(vocabulary, 1)

### 1st Search Engine

Finally, we can create the new search engine by using the clean query and the inverted list we have found in the previous steps. Now, we show the result according to the professor requests

In [8]:
vocabulary

,Word,Term_id,Document_List
0,could,term_id_1,"['document_0', 'document_7', 'document_31', 'd..."
1,surviv,term_id_2,"['document_0', 'document_31', 'document_44', '..."
2,wild,term_id_3,"['document_0', 'document_15', 'document_25', '..."
3,everi,term_id_4,"['document_0', 'document_10', 'document_12', '..."
4,one,term_id_5,"['document_0', 'document_3', 'document_5', 'do..."
...,...,...,...
69158,kismet,term_id_69160,['document_25438']
69159,dunlap,term_id_69161,['document_25441']
69160,lolli,term_id_69162,['document_25441']
69161,coxfor,term_id_69163,['document_25441']
69162,69ing,term_id_69164,['document_25441']

In [13]:
functions.search_engine1(cleanQString, 'inv_lst1.csv', vocabulary, df_copy, df).head(10)

,bookTitle,Plot,Url
0,The Trap,"From author Andrew Fukuda comes The Trap, the ...",https://www.goodreads.com/book/show/17286729-t...
1,The Naturals,Seventeen-year-old Cassie is a natural at read...,https://www.goodreads.com/book/show/13597723-t...
2,The Gender Game,For fans of The Hunger Games and Divergent com...,https://www.goodreads.com/book/show/31131467-t...
3,Out Of Range,"Game warden Joe Pickett returns in a twisting,...",https://www.goodreads.com/book/show/983546.Out...
4,The Southpaw,The Southpaw is a story about coming of age in...,https://www.goodreads.com/book/show/413736.The...
5,The House of Shattered Wings,"A superb murder mystery, on an epic scale, set...",https://www.goodreads.com/book/show/23601046-t...
6,The Lucky One,When U.S. Marine Logan Thibault finds a photog...,https://www.goodreads.com/book/show/3063499-th...
7,Jacinto's Remnant,"Based on the blockbuster Xbox game, this is th...",https://www.goodreads.com/book/show/6276888-ja...
8,Cybernetics Within Us,"When planes mysteriously start crashing, the w...",https://www.goodreads.com/book/show/52494371-c...
9,Devil's Own,"After surviving slavery, Aiden MacAlpin has no...",https://www.goodreads.com/book/show/8705483-de...

### 2.2 Conjunctive query & Ranking score

Before defining the new search engine, we have to update our inverted list according to professors request, we want to have the pair list, for each term that we have into our vocabulary, the document where the term is present and the relative tf_idf score.

<font color="red"> EXPLAIN WHERE DO YOU EXTRACT AND OBTAIN THE TF_IDF... EXPLAIN THE Term Frequency and the IDF... then the TF_IDF!! </font>

In [17]:
inv_lst2 = functions.new_inv_lst('inv_lst1.csv', vocabulary, df_copy)

### 2nd Search Engine

Again, we get the user's input and we clean it up.

In [21]:
query = input("Insert your query string: ")

Insert your query string: survival games

In [9]:
#cleanQString = functions.cleanQuery(query)
cleanQString = ['surviv', 'game']

WHY NEW_DF? .... <font color="red"> SHOW UP the new search engine according to the requests!... </font>

We can now run the second search engine, which is an improved version of the previous one as it takes into consideration not only the number of words in the query that are found in the plots, but also how often those words are mentioned. This makes the search engine more accurate in identifying books that are relevant given a certain query.

In [ ]:
final_df = functions.search_engine2(df_copy, df, inv_lst2, vocabulary, cleanQString)

Now, we show the final dataset returned by our search_engine2() function according to the professor requests.. we can see k top documents sorted by similarity score.

In [11]:
final_df

,bookTitle,Plot,Url,Similarity
0,"Halo: The Fall of Reach, The Flood, First Strike","""The official novels of the award-winning Xbox...",https://www.goodreads.com/book/show/136179.Halo,0.27
1,Devil's Own,"After surviving slavery, Aiden MacAlpin has no...",https://www.goodreads.com/book/show/8705483-de...,0.21
2,The Most Dangerous Game,The Most Dangerous Game features a big-game hu...,https://www.goodreads.com/book/show/157076.The...,0.21
3,Homestuck,It's a story about some kids who are friends o...,https://www.goodreads.com/book/show/20869872-h...,0.18
4,The Forbidden Game,"When Jenny buys a game for her boyfriend, Tom,...",https://www.goodreads.com/book/show/7100490-th...,0.18

## 3) Define a new score

We now want to improve again on our search engine, this time by taking into account multiple variables. 
* similarity score also in book title and author (year it was published, series, characters and setting)
* we could define a "popularity" score that takes into account the average rating and the number of reviews
* we then could combine the two to create the final score and sorting order

Again, we get the user's input and we clean it up.

In [9]:
query = input("Insert your query string: ")

Insert your query string: SURVIVAL GAMES

In [12]:
#cleanQString = functions.cleanQuery(query)
cleanQString = ['surviv', 'game']

Create a new copy of the dataset according to our new score.

The new score is based on four columns: Plot, bookTitle, bookSeries and bookAuthors. We want to use the normalize cosine similarity and sort the similar new score of cosine similarity according to ratingValue, ratingCount and reviewCount using the heap data structure.

In [7]:
df_copy2 = df_copy.copy()

Firstly remove the nan values in the other columns that we want to check and make the inference

In [30]:
import numpy as np
df_copy2['bookSeries'].replace(' ', np.nan, inplace=True)
df_copy2['bookTitle'].replace(' ', np.nan, inplace=True)
df_copy2['bookAuthors'].replace(' ', np.nan, inplace=True)

#df_copy.dropna(subset=['bookSeries', 'bookTitle', 'bookAuthors'], inplace=True)

Clean the dataset according to the new added columns cited before.

In [8]:
df_copy2 = functions.newcleaningDataset(df_copy2) # useful to obtain the vocabulary for each token

After cleaning the dataset with apposite bag of words method, we create the vocabulary

In [3]:
import csv
import pandas as pd
df_copy2 = pd.read_csv("token4Column.csv", sep=",")
df_copy = pd.read_csv("tokenOneColumn.csv", sep=",")

In [ ]:
vocabulary2 = functions.createVocabulary2(df_copy2)

nan

To avoid calculate again and again the vocabulary save it as .csv file

In [ ]:
functions.create_csv2(vocabulary2)

Open the vocabulary and create the inverted list

In [ ]:
vocabulary2 = functions.open_vocabulary(2)
functions.inverted_list(vocabulary2, 2)

Finally, we can create the new search engine by using the clean query and the inverted list we have found in the previous steps. Now, we show the result according to the professor requests

In [ ]:
vocabulary2

In [ ]:
functions.search_engine3(cleanQString, 'inv_lst2.csv', vocabulary2, df_copy2, df)

# Create the new score

We based on four columns to make the new score. So, we want to calculate the cosine similarity respect each column that we are considering previously. Then we normalize this four cosine similarity scores and we sorted the books according to the reviewCount, ratingValue and ratingCount.

In [ ]:
functions.search_engine4(cleanQString, 'inv_lst2.csv', vocabulary2, df_copy2, df)