In [1]:
#import pandas as pd
import json
import functions as fun

Open the main dataset to do the same thing saw previously and make now the new score.

In [2]:
df = fun.openCSV("../finalOutput.csv")

In [3]:
df.head()

,bookTitle,bookSeries,bookAuthors,ratingValue,ratingCount,reviewCount,Plot,NumberofPages,Published,Characters,Setting,Url
0,The Hunger Games,(The Hunger Games #1),Suzanne Collins,4.33,6413302,172615,"Could you survive on your own in the wild, wit...",374,September 14th 2008,"Katniss Everdeen, Peeta Mellark, Cato (Hunger ...","District 12, Panem, Capitol, Panem, Panem",https://www.goodreads.com/book/show/2767052-th...
1,Harry Potter and the Order of the Phoenix,(Harry Potter #5),J.K. Rowling,4.50,2527001,42768,There is a door at the end of a silent corrido...,870,September 2004 by,"Sirius Black, Draco Malfoy, Ron Weasley, Petun...","Hogwarts School of Witchcraft and Wizardry, Lo...",https://www.goodreads.com/book/show/2.Harry_Po...
2,To Kill a Mockingbird,(To Kill a Mockingbird),Harper Lee,4.28,4530963,91866,The unforgettable novel of a childhood in a sl...,324,May 23rd 2006,"Scout Finch, Atticus Finch, Jem Finch, Arthur ...","Maycomb, Alabama",https://www.goodreads.com/book/show/2657.To_Ki...
3,Pride and Prejudice,,Jane Austen,4.26,3020392,67869,Alternate cover edition of ISBN 9780679783268S...,279,October 10th 2000,"Mr. Bennet, Mrs. Bennet, Jane Bennet, Elizabet...","United Kingdom, Derbyshire, England, England, ...",https://www.goodreads.com/book/show/1885.Pride...
4,Twilight,(The Twilight Saga #1),Stephenie Meyer,3.60,4993492,104954,About three things I was absolutely positive.F...,501,September 6th 2006,"Edward Cullen, Jacob Black, Laurent, Renee, Be...","Forks, Washington, Phoenix, Arizona, Washingto...",https://www.goodreads.com/book/show/41865.Twil...

Consider a copy of the main dataset to avoid modify the original information to show in another moment.

In [4]:
df1 = df.copy()

To create our new score based on: **bookTitle, bookAuthors and Plot**. Tokenize their values.

In [5]:
df1 = fun.cleaning_value_columns(df1)

Create the new vocabulary based on those three columns to create the new score.

In [ ]:
vocabulary2 = fun.create_newVocabulary(df1)

## Create and Save Vocabulary like .json

We prefer saving the dictionary like a json file because the structure of this json file behaves as a dictionary structure used in python.

This is the creation of a json file.

In [7]:
a_file = open("vocabulary.json", "w")
a_file = json.dump(vocabulary2, a_file)

This is instead the opening of the json file.

In [6]:
a_file = open("vocabulary.json", "r")
vocabulary2 = json.load(a_file)

## New search engine 1

We are now ready to receive the user's input, which is then processed the same way as the dataset was so that the matching will be possible.

In [7]:
query = input("Insert your query string: ")

Insert your query string: survival games

Clean the user's query to be sure match with our vocabulary tokens

In [8]:
cleanQString = fun.cleanQuery(query)
cleanQString

['surviv', 'game']

### Create the inverted list

According to the professors' requests create the inverted list using the dictionary.

In [15]:
#create the inverted list
inv_lst = fun.create_newInvertedList(vocabulary2)

Execute the new search engine based on three columns, so according to the new score we display the books that contains the user's query.

In [16]:
new_df = fun.newsearch_engine1(cleanQString, vocabulary2, df1, df, inv_lst).head(10)

show the intersection dataset under the user's query

In [17]:
new_df

,bookTitle,Plot,Url
0,The Hunger Games,"Could you survive on your own in the wild, wit...",https://www.goodreads.com/book/show/2767052-th...
1,The Change in the Game,He never thought one man could push him this f...,https://www.goodreads.com/book/show/55000349-t...
2,A Life Once Lived,Waverly Jones is always game to try something ...,https://www.goodreads.com/book/show/36463950-a...
3,The Gender Game,For fans of The Hunger Games and Divergent com...,https://www.goodreads.com/book/show/31131467-t...
4,Silence is Golden,Silent. Cold. Chiselled perfection. That is Ri...,https://www.goodreads.com/book/show/31367949-s...
5,Akarnae,"With just one step, sixteen-year-old Alexandra...",https://www.goodreads.com/book/show/23569787-a...
6,In the Dark,A secluded mountain lodge. The perfect getaway...,https://www.goodreads.com/book/show/44527037-i...
7,Forbidden Blood,In a dark world where vampires exist and where...,https://www.goodreads.com/book/show/10992270-f...
8,Hunter's Run,"Like so many others, Ramon Espejo ran from the...",https://www.goodreads.com/book/show/1282266.Hu...
9,Fire & Blood,With all the fire and fury fans have come to e...,https://www.goodreads.com/book/show/39943621-f...

## New search engine 2

Now, we are creating the new search engine to make the new score based on three columns and at the end we boost the score of similarities with +2 if the ratingValue of the corresponding row is greater than 3.5 and the ratingCount is over 3 milions of ratings.

In [9]:
# search the top k = 10 documents
new_df = fun.newsearch_engine2(vocabulary2, df, df1, cleanQString, 10)

Show the result.

In [10]:
new_df

,bookTitle,Plot,Url,New-Score
0,The Hunger Games,"Could you survive on your own in the wild, wit...",https://www.goodreads.com/book/show/2767052-th...,2.28
1,Harry Potter and the Sorcerer's Stone,Harry Potter's life is miserable. His parents ...,https://www.goodreads.com/book/show/3.Harry_Po...,2.00
2,The Great Gatsby,Alternate Cover Edition ISBN: 0743273567 (ISBN...,https://www.goodreads.com/book/show/4671.The_G...,2.00
3,The Fault in Our Stars,Despite the tumor-shrinking medical miracle th...,https://www.goodreads.com/book/show/11870085-t...,2.00
4,Twilight,About three things I was absolutely positive.F...,https://www.goodreads.com/book/show/41865.Twil...,2.00
5,To Kill a Mockingbird,The unforgettable novel of a childhood in a sl...,https://www.goodreads.com/book/show/2657.To_Ki...,2.00
6,Gerald's Game,Stephen King cranks up the suspense in a diffe...,https://www.goodreads.com/book/show/32692.Gera...,0.59
7,Kade's Game,We never go after what we want without circlin...,https://www.goodreads.com/book/show/22934219-k...,0.57
8,When the Game Was Ours,From the moment these two players took the cou...,https://www.goodreads.com/book/show/40624439-w...,0.53
9,Ender's Game,"Andrew ""Ender"" Wiggin thinks he is playing com...",https://www.goodreads.com/book/show/375802.End...,0.53